* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Kanit', 'monospace';
}

body {
    background-image: url('../fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;         /*Para que la imagen cubra todos los espacios en blanco del body*/
    background-attachment: fixed;   /*Para no deformar las dimensiones de la imagen*/
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

header h1 {
    margin-top: 50px;
    padding-bottom: 15px;
    width: 40vh;
    font-size: 45px;
    font-family: 'Kanit', 'monospace';
    text-align: center;
    color: white;
    border-bottom: 3px solid rgb(151, 151, 240);
    background: none;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

main .contenedor {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin-top: 70px;
}

.juego {
    width: auto;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
}

#tablero {
    width: auto;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(3, 125px);
    gap: 8px;
}

.casilla {
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgb(71, 58, 58);
}

.casilla:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 5px white;
}

#botones {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    background: none;
    margin-right: 200px;
}

#botones :nth-child(1) {
    margin-bottom: 40px;
    padding-left: 42px;
    padding-right: 42px;
}

#botones :nth-child(2) {
    padding-left: 30px;
    padding-right: 30px;
}

.boton {
    color: white;
    border: 2px solid black;
    width: 184.5px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    background-color: rgb(151, 151, 240);
}

.boton:hover {
    box-shadow: 0px 0px 3px white;
    cursor: pointer;
}

.alerta {
    color: white;
    border: 2px solid black;
    width: 170px;
    text-align: center;
    padding: 5px;
    margin-top: 30px;
    border-radius: 5px;
    font-size: 20px;
    background-color: rgb(243, 42, 42);
}


